/* container */
#vignette-death-flash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 5;
    
    /* splatter layout */
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    opacity: 1;
}

/* blood image */
.death-blood-splatter {
    height: 100%;
    width: auto;
    max-width: 35vw;
    object-fit: contain;
    position: relative;
    
    /* shadow projection trick */
    left: -100vw;
    filter: drop-shadow(100vw 0 0 var(--blood-tint));
}

/* trigger fade */
#vignette-death-flash.fade-out {
    opacity: 0;
}

/* map shake */
.board-shake {
    animation: canvas-shake 0.4s ease-in-out;
}

@keyframes canvas-shake {
    0% { transform: translate(0,0); }
    25% { transform: translate(-8px, 4px); }
    50% { transform: translate(8px, -4px); }
    75% { transform: translate(-4px, -2px); }
    100% { transform: translate(0,0); }
}


/*socials buttons */
.etherius-socials .form-fields {
    gap: 10px;
}

.etherius-btn {
    font-size: 1.2rem;
    padding: 4px 12px;
    border-radius: 4px;
    color: white !important;
    transition: transform 0.2s, filter 0.2s;
}

.etherius-btn:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

.patreon { background: #ff424d; }
.discord { background: #5865f2; }
.twitter { background: #000000; }